div
    p Результат - #{data.statusTitle}
    p #{data.statusMsg}
        input.hidden.short#calcAlt(value='#{data.alt}', type="text", readonly="readonly")
        input.hidden.short#calcTotalBurned(value='#{data.totalBurned}', type="text", readonly="readonly")
        br
        | Высота от поверхности:
        input.short#calcSurfaceAlt(value='#{data.realAlt}', type="text", readonly="readonly")
        | м.
        br
        | Скорость:
        input.short#calcSpeed(value='#{data.speed}', type="text", readonly="readonly")
        | м/сек.
        input.hidden.short#calcTime(value='#{data.time}', type="text", readonly="readonly")
div
    input#nextComment(placeholder='Примечание')
button#add Добавить в план