p.calc-conditions Рассчет для высоты #{init.alt} метров
    br
    |Начальная скорость:
    input(value='#{init.speed}', type="text", readonly="readonly")
    |м/сек.
    br
    | Лимит времени:
    input(value='#{init.timeLimit}', type="text", readonly="readonly")
    |сек.
    br
    | Торможение:
    input#calcDrag(value='#{data.drag}', type="text", readonly="readonly")
    |%.
    br
    |Ускорение свободного падения:
    br
    input.short(value='#{data.startG}', type="text", readonly="readonly")
    | м/сек. в начальной точке,
    input.short(value='#{data.g}', type="text", readonly="readonly")
    | м/сек. в конечной точке