li.plan-node
    b Время:
    input.short.flight-time(value='#{data.lastTime}', name="last-time", type="text", readonly="readonly")
    | Интервал:
    input.short(value='#{data.time}', name="time", type="text", readonly="readonly")
    |сек.
    p.notes #{data.misc.note}
    p Высота:
        input.hidden.short(value='#{data.alt}', name="alt", type="text", readonly="readonly")
        input.hidden.short(value='#{data.fuelConsumed}', name="fuel-consumed", type="text", readonly="readonly")
        input.short(value='#{data.surfaceAlt}', name="surface-alt", type="text", readonly="readonly")
    p Скорость:
        input.short(value='#{data.speed}', name="speed", type="text", readonly="readonly")
    b.nodeDrag Торможение:
    input.short(name="drag", type="text")
    |% на
    input.short(name="dragTime", type="text")
    | сек
    br
    button.remove Удалить
    button.sim Рассчитать
    button.set Сохранить
