li.plan-node
    b Время:
    input.short(value='#{data.time}', name="time", type="text", readonly="readonly")
    |сек.
    p.notes #{data.misc.note}
    p Высота:
        input.short(value='#{data.alt}', name="alt", type="text", readonly="readonly")
    p Скорость:
        input.short(value='#{data.speed}', name="speed", type="text", readonly="readonly")
    b.nodeDrag Торможение:
    input.short(value='#{data.misc.drag}', name="drag", type="text")
    |% на
    input.short(value='#{data.misc.dragTime}', name="dragTime", type="text")
    | сек
    br
    button.remove Удалить
    button.sim Рассчитать
    button.set Сохранить
